<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "helloWorld" class = "club.cser.springroad.beans.HelloWorld">
        <property name = "name" value = "codyyyy"/>
    </bean>

    <bean id = "people" class = "club.cser.springroad.beans.People">
        <property name = "age" value = "18"/>
        <property name = "helloWorld" ref="helloWorld"/>
        <property name = "helloWorld.name" value = "helloWorldddddddddd"/>
<!--        这种级联方式赋值 会影响id=helloWorld 的name -->

    </bean>

</beans>