<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
<!--  属性查询      https://docs.jboss.org/hibernate/core/3.3/reference/en-US/html/session-configuration.html#configuration-optional-->


        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<!--        Write all SQL statements to console.-->
        <property name="hibernate.show_sql">true</property>
<!--        Pretty print the SQL in the log and console-->
        <property name="hibernate.format_sql">true</property>
<!--        Automatically validates or exports schema DDL to the database when the SessionFactory is created.
With create-drop, the database schema will be dropped when the SessionFactory is closed explicitly.-->
<!--        https://stackoverflow.com/questions/438146/what-are-the-possible-values-of-the-hibernate-hbm2ddl-auto-configuration-and-wha -->
<!--        这个不管是create还是update都不能自动创建表，不知道为啥-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

<!--     这里配置mapping，sql里数据表Phone不会标红  -->
<!--        <mapping resource="Phone.hbm.xml"></mapping>-->


    </session-factory>
</hibernate-configuration>
